#***********************************************************************
#*                   GNU Lesser General Public License
#*
#* This file is part of the GFDL Flexible Modeling System (FMS).
#*
#* FMS is free software: you can redistribute it and/or modify it under
#* the terms of the GNU Lesser General Public License as published by
#* the Free Software Foundation, either version 3 of the License, or (at
#* your option) any later version.
#*
#* FMS is distributed in the hope that it will be useful, but WITHOUT
#* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#* for more details.
#*
#* You should have received a copy of the GNU Lesser General Public
#* License along with FMS.  If not, see <http://www.gnu.org/licenses/>.
#***********************************************************************
#
# Each line is a file pattern followed by one or more owners.  The owner
# can be specified by their @username, or an email address.
#
# Order is important.  The last matching pattern takes the most precedence.

# These owners will be the default owners for all the files in the
# repository.  Unless a later match is found, these owners
# will be requested for a review when a PR is opened.
*          @wrongkindofdoctor @thomas-robinson @bensonr 

# GNU autotools files
Makefile.am      @underwoo @uramirez8707
/configure.ac    @underwoo @uramirez8707
/m4/             @underwoo @uramirez8707
*.m4             @underwoo @uramirez8707

# cmake files
CM*              @mlee03 @ngs333
cmake            @mlee03 @ngs333

# Files specific to GitHub or GitLab
/.github/        @underwoo @GFDL-Eric
/.gitlab/        @underwoo @GFDL-Eric

# Testing files
/.gitlab-ci.yml  @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor 
/.travis.yml     @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor
/test_fms/       @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor

# Specific component directories
/affinity/          @bensonr
/test_fms/affinity/ @bensonr @thomas-robinson

/block_control/          @bensonr
/test_fms/block_control/ @bensonr @thomas-robinson

/data_override/          @GFDL-Eric
/test_fms/data_override/ @GFDL-Eric @thomas-robinson

/diag_manager            @thomas-robinson @underwoo @ngs333
/test_fms/diag_manager/  @thomas-robinson @underwoo @ngs333

/fv3gfs/          @bensonr

/fms/             @wrongkindofdoctor @thomas-robinson
/test_fms/fms/    @wrongkindofdoctor @thomas-robinson
/fms2/            @uramirez8707 @GFDL-Eric
/test_fms/fms2/   @uramirez8707 @GFDL-Eric

/libFMS/           @underwoo @thomas-robinson

/mpp/              @wrongkindofdoctor @thomas-robinson @bensonr
/test_fms/mpp/     @wrongkindofdoctor @thomas-robinson @bensonr
