#***********************************************************************
#*                             Apache License 2.0
#*
#* This file is part of the GFDL Flexible Modeling System (FMS).
#*
#* Licensed under the Apache License, Version 2.0 (the "License");
#* you may not use this file except in compliance with the License.
#* You may obtain a copy of the License at
#*
#*     http://www.apache.org/licenses/LICENSE-2.0
#*
#* FMS is distributed in the hope that it will be useful, but WITHOUT
#* WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied;
#* without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
#* PARTICULAR PURPOSE. See the License for the specific language
#* governing permissions and limitations under the License.
#***********************************************************************
#
# Each line is a file pattern followed by one or more owners.  The owner
# can be specified by their @username, or an email address.
#
# Order is important.  The last matching pattern takes the most precedence.

# These owners will be the default owners for all the files in the
# repository.  Unless a later match is found, these owners
# will be requested for a review when a PR is opened.
*          @uramirez8707 @bensonr @rem1776 @vithikashah001