on: pull_request

# cancel running jobs if theres a newer push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autotools-intel-oneapi:
    runs-on: ubuntu-latest
    container:
      image: intel/oneapi-hpckit:2025.3.0-0-devel-ubuntu22.04
      env:
        CC: "mpiicx"
        FC: "mpiifx"
        CFLAGS:  "-I/libs/include"
        FCFLAGS: "-I/libs/include -g -traceback"
        LDFLAGS: "-L/libs/lib"
        TEST_VERBOSE: 1
        I_MPI_FABRICS: "shm" # needed for mpi in image
        # intel bug causes some failures with shm option(required in container)
        SKIP_TESTS: "test_mpp_update_domains.1 test_update_domains_performance.1 test_diag_manager2.23"
    steps:
    - name: Cache dependencies
      id: cache
      uses: actions/cache@v4.2.0
      with:
        path: /libs
        key: intel-libs
    - name: Install packages for building
      run: apt-get update && apt-get install -y autoconf libtool automake zlib1g zlib1g-dev libcurl4-openssl-dev
    - if: steps.cache.outputs.cache-hit != 'true'
      name: Build netcdf
      run: |
        # install everything to /libs
        export LD_LIBRARY_PATH="/libs/lib:$LD_LIBRARY_PATH"
        mkdir /libs
        # hdf5
        wget https://support.hdfgroup.org/releases/hdf5/v1_14/v1_14_6/downloads/hdf5-1.14.6.tar.gz
        tar xf hdf5-1.14.6.tar.gz && cd hdf5-1.14.6
        ./configure --prefix=/libs
        make -j install && cd ..
        # netcdf-c
        wget https://github.com/Unidata/netcdf-c/archive/refs/tags/v4.9.3.tar.gz
        tar xf v4.9.3.tar.gz && cd netcdf-c-4.9.3
        ./configure --prefix=/libs --disable-libxml2 --enable-netcdf-4 --enable-shared
        make -j install && cd ..
        # netcdf-fortran
        wget https://github.com/Unidata/netcdf-fortran/archive/refs/tags/v4.6.2.tar.gz
        tar xf v4.6.2.tar.gz && cd netcdf-fortran-4.6.2
        ./configure --prefix=/libs
        make -j install && cd ..
        # libyaml
        wget https://github.com/yaml/libyaml/releases/download/0.2.5/yaml-0.2.5.tar.gz
        tar xf yaml-0.2.5.tar.gz && cd yaml-0.2.5
        ./configure --prefix=/libs
        make -j install && cd ..
    - name: checkout
      uses: actions/checkout@v4.2.2
    - name: Configure
      run: |
        autoreconf -if ./configure.ac
        export LD_LIBRARY_PATH="/libs/lib:$LD_LIBRARY_PATH"
        ./configure --with-yaml
    - name: Compile
      run: make -j || make
    - name: Run test suite
      run: make check LD_LIBRARY_PATH="/libs/lib:$LD_LIBRARY_PATH" TEST_VERBOSE=1
